// media query breakpoints

$breakpoint-desktop-lg: 1600px;
$breakpoint-desktop-sml: 1200px;
$breakpoint-tablet-lg: 1024px;
$breakpoint-tablet-sml: 768px;
$breakpoint-phone-lg: 530px;
$breakpoint-phone-sml: 400px;

// colors

$l-grey: rgb(223, 223, 223);
$m-grey: rgb(128, 128, 128);
$d-grey: rgb(42, 42, 42);
$btn-orange: rgb(255, 144, 25);
$m-orange: rgb(255, 163, 65);
$l-orange: rgb(255, 245, 232);
$ts-blue: #26c6da;
// $btn-orange: #26c6da;
